.error-container{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    display: table;
}
.error-container img{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.error-container a{
    display: table-cell;
    vertical-align: middle;
}